   :root {
  /* Paleta principal Cherry Blossom */
  --bg-general: #FAEEF3;     /* fondo general rosado muy suave */
  --bg-card: #ffffff;       /* tarjetas / contenedores */
  --text-primary: #3A2A33;  /* texto principal oscuro */
  --text-secondary: #7A5C69;/* texto secundario */
  --btn-main: #E88AB3;      /* botón principal */
  --btn-hover: #D97AA3;     /* hover del botón */
  --input-bg: #ffffff;     /* fondo inputs */
  --border-dark: #E4C6D3;   /* bordes suaves */
}
/* Esta parte me costo mucho asi que tuve que recurrir a ayudas externas solo para que quedaran bonitos y ordenados los colores y saber cual modificar */

body {
  background-color: var(--bg-general);
  color: var(--text-primary);
  font-family: 'Oswald', Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* Para los contenedores  */
.container {
  background-color: var(--bg-general);
  padding: 1.5rem;
}

/* -----------------
   Tarjetas
   ----------------- */
.card {
  background-color: var(--bg-card);
  border: 1px solid var(--border-dark);
  border-radius: 10px;
  color: var(--text-primary);
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

/* Para los titulos y encabezados */
h1, h2, h3 {
  color: var(--text-primary);
  font-weight: 600;
}

/* Para los inputs*/
.form-control {
  background-color: var(--input-bg);
  color: var(--text-primary);
  border: 1px solid var(--border-dark);
  border-radius: 8px;
}

.form-control:focus {
  border-color: var(--btn-main);
  box-shadow: none;
}

/* Para los botones */
.btn-primary {
  background-color: var(--btn-main);
  border: none;
}

.btn-primary:hover {
  background-color: var(--btn-hover);
}

/* Los enlaces */
a {
  color: var(--btn-main);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Para el texto secundario */
.text-secondary {
  color: var(--text-secondary);
}

/* Para el historial*/
.table {
  color: var(--text-primary);
}

.table thead {
  background-color: var(--bg-card);
  border-bottom: 1px solid var(--border-dark);
}

.table tbody tr {
  background-color: var(--bg-card);
  border-bottom: 1px solid var(--border-dark);
}

/* Para las alertas y mensajes */
#mensaje, #ok, #error {
  font-weight: 500;
}

/* Para la NavBar*/
.navbar-cherry {
  background-color: #FAEEF3;
  border-bottom: 1px solid #E4C6D3;
}

.navbar-cherry .navbar-brand {
  color: #3A2A33;
}

.navbar-cherry .nav-link {
  color: #3A2A33;
  font-weight: 500;
}

.navbar-cherry .nav-link:hover {
  color: #E88AB3;
}

/* Para el boton */
.btn-cherry {
  background-color: #E88AB3;
  border: 1px solid #E88AB3;
  color: #fff;
  font-weight: 600;
}

.btn-cherry:hover {
  background-color: #D97AA3;
  border-color: #D97AA3;
  color: #fff;
}
